$main-font: "PT Sans", sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$main-color: #ffffff;
$secondary-color: #111111;
$third-color: #2d75b6;
// $fourth-color: #1c1c1c;
// $fifth-color: #d3c7b5;
// $sixth-color: #fc4e73;
// $seventh-color: #c61111;

$animationTransition: all .4s ease;
