@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #111111;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-center {
  max-width: 1164px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.button {
  padding: 16px 47px;
  border: none;
  background-color: #2d75b6;
  color: #ffffff;
  border-radius: 27px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.section-title {
  font-size: 45px;
  font-weight: 700;
}

.section-subtitle {
  font-size: 27px;
  font-weight: 400;
}

.absolute-icon {
  position: absolute;
}

.header {
  display: block;
  position: fixed;
  background-color: #111111;
  width: 100%;
  z-index: 1;
  height: 105px;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 45px;
}
.header__promo-wrapper {
  position: absolute;
  bottom: -47px;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background-color: #c61111;
  color: #ffffff;
}
.header__promo {
  margin-right: 68px;
}
.header__promo:last-child {
  margin-right: 0;
}
.header__promo--upper {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.menu__item {
  display: flex;
}
.menu__list {
  cursor: pointer;
  margin-right: 62px;
}
.menu__list:last-child {
  margin-right: 0;
}
.menu__list:hover .menu__link {
  transition: all 0.4s ease;
  color: #d3c7b5;
}
.menu__list:hover .menu__icon {
  transform: translateY(2px);
  transition: all 0.4s ease;
}
.menu__link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
.menu__icon {
  color: #2d75b6;
}

.socials__icon {
  position: relative;
  margin-right: 25px;
  color: #111111;
  cursor: pointer;
}
.socials__icon:last-child {
  margin-right: 0;
}
.socials__icon::after {
  content: "";
  position: absolute;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  top: -7px;
  left: calc(50% - 15px);
  z-index: -1;
}
.socials__icon:hover::after {
  transform: scale(1.2);
  transition: all 0.4s ease;
}

.banner {
  position: relative;
  background-image: url(/img/banner_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 415px;
  padding-bottom: 290px;
  text-align: center;
  border-bottom-left-radius: 150% 20%;
  border-bottom-right-radius: 150% 20%;
}
.banner__button {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

.about {
  position: relative;
  padding-top: 80px;
  padding-bottom: 110px;
  text-align: center;
}
.about__title {
  margin: 0 auto;
  line-height: 120%;
  width: 50%;
  margin-bottom: 32px;
}
.about__subtitle {
  margin: 0 auto;
  line-height: 150%;
  width: 60%;
  margin-bottom: 5px;
}
.about__player--yellow {
  left: -100px;
  top: 75px;
}
.about__player--red {
  right: -100px;
  top: 250px;
}
.about__star--left-top {
  left: 0;
  top: 235px;
}
.about__star--left-bottom {
  left: 70px;
  top: 296px;
}
.about__star--right-top {
  top: 105px;
  right: 85px;
}
.about__star--right-bottom {
  top: 210px;
  right: 0;
}

.awards {
  margin: 10px 0 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 26px;
}
.awards__wrapper {
  padding: 33px 65px 28px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.09);
}
.awards__wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #555454;
  transition: all 0.4s ease;
}
.awards__title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 146%;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 10px;
}
.awards__year {
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: rgba(211, 199, 181, 0.87);
}

.screenshots__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 36px;
       column-gap: 36px;
  row-gap: 44px;
}
.screenshots__title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.screenshots__img {
  width: 100%;
}
.screenshots__img--centered {
  grid-column: 2;
}
.screenshots__img:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #949494;
  transition: all 0.4s ease;
}

.play {
  position: relative;
  text-align: center;
  padding-bottom: 80px;
}
.play__title {
  margin-bottom: 32px;
}
.play__subtitle {
  width: 65%;
  margin: 0 auto;
  line-height: 150%;
  margin-bottom: 150px;
}
.play__subtitle-decoration {
  color: #fc4e73;
  text-align: center;
}
.play__player {
  position: absolute;
}
.play__player--black {
  left: -50px;
  top: -50px;
}
.play__player--green {
  left: 90px;
  top: 150px;
}
.play__player--purple {
  right: -130px;
  top: 250px;
}
.play__star--top-left {
  top: 0;
  left: 85px;
}
.play__star--bottom-left {
  top: 290px;
  left: -100px;
}
.play__star--top-right {
  top: -25px;
  right: 150px;
}
.play__star--bottom-right {
  right: -100px;
  top: 20px;
}

.objectives {
  margin-bottom: 90px;
}
.objectives:last-child {
  margin-bottom: 0;
}
.objectives__img {
  margin-bottom: 30px;
}
.objectives__name {
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 40px;
}
.objectives__name-decoration {
  font-weight: 700;
}
.objectives__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
.objectives__item {
  cursor: pointer;
  display: flex;
  align-items: start;
}
.objectives__item:hover .objectives__descr {
  cursor: pointer;
  text-shadow: 0 2px 10px #d1d1d1;
  transition: all 0.4s ease;
}
.objectives__icon {
  margin-right: 25px;
}
.objectives__descr {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 150%;
}
.objectives__star-left {
  left: 100px;
  bottom: 380px;
}
.objectives__star-right {
  right: -30px;
  bottom: 215px;
}
.objectives__red-star {
  right: -30px;
  bottom: 180px;
}

.merch {
  background-image: url(/img/amongus_merch_banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 136px;
  padding-bottom: 116px;
}
.merch__title {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 22px;
}
.merch__descr {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 33px;
}

.footer-section {
  width: 100%;
  padding-top: 195px;
  display: flex;
}
.footer-section__button {
  background-color: #ffffff;
  color: #2d75b6;
}
.footer-section__button--white {
  color: #2d75b6;
  background-color: #ffffff;
}
.footer-section__icon {
  top: 44px;
  right: 62px;
}
.footer-section__wrapper {
  padding-top: 44px;
  padding-bottom: 45px;
}
.footer-section__wrapper--left {
  position: relative;
  background-color: #2d75b6;
  padding-left: 200px;
  width: 60%;
}
.footer-section__wrapper--right {
  background-color: #1c1c1c;
  width: 40%;
  padding-left: 80px;
  padding-right: 70px;
}
.footer-section__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  width: 400px;
  margin-bottom: 30px;
}

.form {
  display: flex;
}
.form__input {
  padding: 11px 30px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border: 1px solid #fff;
  width: 80%;
  background-color: #1c1c1c;
  border: none;
  color: #ffffff;
}
.form__input:focus {
  outline: none;
}
.form__button {
  width: 20%;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  padding: 11px 30px;
  right: 1px;
  bottom: 1px;
  border: 1px solid #2d75b6;
  background-color: #2d75b6;
  color: #ffffff;
}

@media screen and (max-width: 1428px) {
  .header__wrapper {
    justify-content: space-around;
  }
  .about__player--yellow {
    left: 70px;
    top: 75px;
  }
  .about__player--red {
    right: 50px;
    top: 250px;
  }
  .about__star--left-top {
    left: 25px;
    top: 235px;
  }
  .about__star--left-bottom {
    left: 140px;
    top: 320px;
  }
  .about__star--right-bottom {
    top: 190px;
    right: 30px;
  }
  .play__player--purple {
    right: 50px;
    top: 250px;
  }
  .play__player--black {
    left: 35px;
    top: -50px;
  }
  .play__star--top-left {
    top: 0;
    left: 190px;
  }
  .play__star--bottom-left {
    top: 345px;
    left: 185px;
  }
  .play__star--bottom-right {
    right: 100px;
    top: 20px;
  }
  .footer-section {
    padding-top: 160px;
  }
  .footer-section__wrapper--left {
    padding-left: 145px;
  }
  .footer-section__icon {
    top: 85px;
    right: 50px;
  }
}
.objectives__star-left {
  left: 100px;
  bottom: 380px;
}
.objectives__star-right {
  right: 30px;
  bottom: 265px;
}
.objectives__red-star {
  right: 30px;
  bottom: 230px;
}

@media screen and (max-width: 1200px) {
  .content-center {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section-subtitle {
    font-size: 24px;
  }
  .header__promo-wrapper {
    padding: 0 30px;
    bottom: -36px;
    padding: 10px 0;
  }
  .header__promo {
    margin-right: 15px;
  }
  .header__promo--upper {
    font-size: 13px;
  }
  .banner {
    padding-top: 345px;
    padding-bottom: 225px;
  }
  .about {
    padding-bottom: 100px;
  }
  .about__fantasy {
    height: 100px;
  }
  .play__subtitle {
    margin-bottom: 105px;
  }
  .screenshots__wrapper {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 25px;
  }
  .objectives__container {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .objectives__icon {
    margin-right: 8px;
  }
  .footer-section {
    padding-top: 100px;
  }
  .footer-section__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .footer-section__icon {
    height: 80px;
    top: 115px;
    right: 35px;
  }
  .footer-section__wrapper--left {
    padding-left: 100px;
  }
}
@media screen and (max-width: 992px) {
  .button {
    padding: 14px 35px;
  }
  .menu {
    display: none;
  }
  .banner {
    padding-top: 285px;
    padding-bottom: 195px;
  }
  .banner__logo {
    height: 130px;
  }
  .about__fantasy {
    height: 80px;
  }
  .awards__wrapper {
    padding: 24px 35px 10px;
  }
  .merch {
    padding-top: 100px;
    padding-bottom: 92px;
  }
  .footer-section__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .footer-section__wrapper {
    padding-top: 35px;
    padding-right: 15px;
  }
  .footer-section__wrapper--left {
    padding-left: 110px;
  }
  .footer-section__wrapper--right {
    padding-left: 100px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .menu {
    display: none;
  }
  .header__promo {
    overflow: hidden;
  }
  .form__fieldset {
    width: 330px;
  }
}/*# sourceMappingURL=style.css.map */